.navigation-links-black-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-black-security {
  color: #000000;
}
.navigation-links-black-pool-mate {
  color: #000000;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-black-root-class-name {
  top: 0px;
  left: 230px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
.navigation-links-black-root-class-name1 {
  top: 0px;
  left: 230px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
.navigation-links-black-root-class-name2 {
  top: 0px;
  left: 230px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}
.navigation-links-black-root-class-name3 {
  top: 44px;
  left: 417px;
  margin: auto;
  position: absolute;
}
@media(max-width: 767px) {
  .navigation-links-black-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-black-security {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-black-pool-mate {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-white-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-white-security {
  color: #ffffff;
}
.navigation-links-white-pool-mate {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}









.navigation-links-white-root-class-name9 {
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  align-self: center;
  margin-top: auto;
  margin-left: 230px;
  margin-right: auto;
  margin-bottom: auto;
}

.navigation-links-white-root-class-name11 {
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  align-self: center;
  margin-top: auto;
  margin-left: 230px;
  margin-right: auto;
  margin-bottom: auto;
}

.navigation-links-white-root-class-name13 {
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  align-self: center;
  margin-top: auto;
  margin-left: 230px;
  margin-right: auto;
  margin-bottom: auto;
}


@media(max-width: 767px) {
  .navigation-links-white-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-white-security {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-white-pool-mate {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.passenger-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgb(40,38,51);
}
.passenger-header {
  width: 100%;
  height: var(--dl-size-size-large);
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.passenger-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.passenger-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.passenger-burger-menu {
  display: none;
}
.passenger-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.passenger-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.passenger-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.passenger-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.passenger-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.passenger-image1 {
  height: 2rem;
}
.passenger-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.passenger-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.passenger-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.passenger-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.passenger-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.passenger-button {
  background-color: rgb(220, 60, 60);
}
.passenger-textinput {
  top: 388px;
  left: 48px;
  color: var(--dl-color-gray-black);
  width: 544px;
  height: 60px;
  position: absolute;
}
.passenger-textinput1 {
  top: 713px;
  left: 67px;
  color: var(--dl-color-gray-black);
  width: 527px;
  height: 60px;
  position: absolute;
}
.passenger-button1 {
  top: 379px;
  left: 668px;
  color: var(--dl-color-gray-900);
  width: 208px;
  height: 82px;
  position: absolute;
  background-color: rgb(0, 0, 0);
}
.passenger-button2 {
  top: 702px;
  left: 670px;
  color: var(--dl-color-gray-900);
  width: 208px;
  height: 82px;
  position: absolute;
  background-color: rgb(0, 0, 0);
}
@media(max-width: 991px) {
  .passenger-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .passenger-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .passenger-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .passenger-header {
    padding: var(--dl-space-space-unit);
  }
  .passenger-mobile-menu {
    padding: 16px;
  }
}
