<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 2,
            center: new google.maps.LatLng(0.000000, 0.000000)
        });

        var marker_icon_FF0000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACBklEQVRIia3VzUtUURgH4GdG/AiyZZShtWgXUbSIFtGqRYtqWRLhXyBYf0K6MaJQ2gRtayHtijYpleHKSCgIcRHoIiOSKEzLKea0OOeqTfPlzPzg5Qwz9zz3nXPvPTeneo7gNA4gjyI+Ygbva8z9L2cxi9BHOE+4msY+gliz6biayWE0R7GfMEcoEkJJzRH6CbnY+WiaVxEc6yY8KQOVq8eE7tj1WCV4qIswUyeY1QyhK8JDpWAP1m7vEMzqTkTXkrOZkYOEQoNogXAowiPE2wQuDqC9nktZJu0YSE72XRs2phrsMqup2OkG2vLpRB19DXaZJc3vQHv294Um0e3z8yigsNQkmuYXUMie5/npJtE0fz55YLiXsNHELdUbV2B4+4n2Y/Vmg+itCK4m558MdhBe7hCcJnRGdLDS0ox3E17XCb4h7IngeLX1zuFhD2G5BriytY4Tqmx9WXbh3Tnl99KsLkdwAbtrgVmO4/eDCuCkzd3/TL1glru9hF8lYJFwMoKPdgrCXqzfL0GfR7CIo42gcO9YCXopolONgnAC4W0Cv9l8dVxpBoWFGwmdiOC6Glc8X+3HlKeT6cOzOLzAjyaaBBc602ZzOHZ6vVkQ9kl7Qi6ip1qBwpdrEfwjPnFVU8+awuKrOC7hZ6vQlQ9baM3Ui379HsfVVqKf07jcSvRTGhfrOfgvIP3ECS77BDoAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(6.199620, -75.579270),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.199610, -75.579320),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.199520, -75.579360),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.199300, -75.579400),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.199320, -75.579560),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.200340, -75.579350),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.200820, -75.579270),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.200910, -75.579290),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.201010, -75.579300),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.201270, -75.579310),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.201820, -75.579230),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.202780, -75.579120),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.203410, -75.579020),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.203710, -75.578950),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.203980, -75.578910),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.204370, -75.578900),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.205550, -75.578720),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.206720, -75.578540),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.207550, -75.578440),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.208220, -75.578370),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.209380, -75.578160),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.210170, -75.578040),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.211290, -75.577870),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.212850, -75.577670),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.213710, -75.577590),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.215560, -75.577340),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.216310, -75.577220),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.217740, -75.576990),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.220470, -75.576610),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.223130, -75.576220),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.223870, -75.576110),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.224230, -75.576070),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.225010, -75.575960),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.225750, -75.575870),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.226410, -75.575800),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.227030, -75.575710),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.227960, -75.575550),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.229330, -75.575380),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231090, -75.575150),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231560, -75.575090),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231790, -75.575060),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231860, -75.575000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231910, -75.574940),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231940, -75.574860),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231930, -75.574760),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231890, -75.574670),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231480, -75.574650),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231400, -75.574660),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231320, -75.574720),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231290, -75.574780),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231220, -75.574910),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231370, -75.575320),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231760, -75.576690),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231970, -75.577260),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.232000, -75.577480),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.232000, -75.577620),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231990, -75.578170),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231950, -75.578750),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231890, -75.579860),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231900, -75.580080),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231960, -75.580340),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231980, -75.580520),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231930, -75.582820),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231850, -75.585600),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231820, -75.587300),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231770, -75.589050),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231750, -75.589360),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231760, -75.589460),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231740, -75.589740),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231660, -75.590230),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231590, -75.591850),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231550, -75.593930),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231450, -75.596660),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231300, -75.599450),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231200, -75.601410),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231210, -75.601710),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231230, -75.601800),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231290, -75.601890),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231330, -75.601940),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231390, -75.602070),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231370, -75.602210),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231270, -75.602340),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231160, -75.602400),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.231010, -75.602380),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.230890, -75.602310),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.230850, -75.602260),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.230740, -75.602180),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.230550, -75.602150),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.229680, -75.602100),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.229070, -75.602080),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.228750, -75.602070),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.228420, -75.602020),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.228010, -75.601990),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.227560, -75.601950),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.227320, -75.601930),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.227160, -75.601910),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.227130, -75.602060),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.227060, -75.602300),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.226970, -75.602450),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.226670, -75.602690),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(6.226560, -75.602760),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#6495ED",
            strokeOpacity: 1.000000,
            strokeWeight: 10,
            map: map,
            path: [
                new google.maps.LatLng(6.199620, -75.579270),
                new google.maps.LatLng(6.199610, -75.579320),
                new google.maps.LatLng(6.199520, -75.579360),
                new google.maps.LatLng(6.199300, -75.579400),
                new google.maps.LatLng(6.199320, -75.579560),
                new google.maps.LatLng(6.200340, -75.579350),
                new google.maps.LatLng(6.200820, -75.579270),
                new google.maps.LatLng(6.200910, -75.579290),
                new google.maps.LatLng(6.201010, -75.579300),
                new google.maps.LatLng(6.201270, -75.579310),
                new google.maps.LatLng(6.201820, -75.579230),
                new google.maps.LatLng(6.202780, -75.579120),
                new google.maps.LatLng(6.203410, -75.579020),
                new google.maps.LatLng(6.203710, -75.578950),
                new google.maps.LatLng(6.203980, -75.578910),
                new google.maps.LatLng(6.204370, -75.578900),
                new google.maps.LatLng(6.205550, -75.578720),
                new google.maps.LatLng(6.206720, -75.578540),
                new google.maps.LatLng(6.207550, -75.578440),
                new google.maps.LatLng(6.208220, -75.578370),
                new google.maps.LatLng(6.209380, -75.578160),
                new google.maps.LatLng(6.210170, -75.578040),
                new google.maps.LatLng(6.211290, -75.577870),
                new google.maps.LatLng(6.212850, -75.577670),
                new google.maps.LatLng(6.213710, -75.577590),
                new google.maps.LatLng(6.215560, -75.577340),
                new google.maps.LatLng(6.216310, -75.577220),
                new google.maps.LatLng(6.217740, -75.576990),
                new google.maps.LatLng(6.220470, -75.576610),
                new google.maps.LatLng(6.223130, -75.576220),
                new google.maps.LatLng(6.223870, -75.576110),
                new google.maps.LatLng(6.224230, -75.576070),
                new google.maps.LatLng(6.225010, -75.575960),
                new google.maps.LatLng(6.225750, -75.575870),
                new google.maps.LatLng(6.226410, -75.575800),
                new google.maps.LatLng(6.227030, -75.575710),
                new google.maps.LatLng(6.227960, -75.575550),
                new google.maps.LatLng(6.229330, -75.575380),
                new google.maps.LatLng(6.231090, -75.575150),
                new google.maps.LatLng(6.231560, -75.575090),
                new google.maps.LatLng(6.231790, -75.575060),
                new google.maps.LatLng(6.231860, -75.575000),
                new google.maps.LatLng(6.231910, -75.574940),
                new google.maps.LatLng(6.231940, -75.574860),
                new google.maps.LatLng(6.231930, -75.574760),
                new google.maps.LatLng(6.231890, -75.574670),
                new google.maps.LatLng(6.231480, -75.574650),
                new google.maps.LatLng(6.231400, -75.574660),
                new google.maps.LatLng(6.231320, -75.574720),
                new google.maps.LatLng(6.231290, -75.574780),
                new google.maps.LatLng(6.231220, -75.574910),
                new google.maps.LatLng(6.231370, -75.575320),
                new google.maps.LatLng(6.231760, -75.576690),
                new google.maps.LatLng(6.231970, -75.577260),
                new google.maps.LatLng(6.232000, -75.577480),
                new google.maps.LatLng(6.232000, -75.577620),
                new google.maps.LatLng(6.231990, -75.578170),
                new google.maps.LatLng(6.231950, -75.578750),
                new google.maps.LatLng(6.231890, -75.579860),
                new google.maps.LatLng(6.231900, -75.580080),
                new google.maps.LatLng(6.231960, -75.580340),
                new google.maps.LatLng(6.231980, -75.580520),
                new google.maps.LatLng(6.231930, -75.582820),
                new google.maps.LatLng(6.231850, -75.585600),
                new google.maps.LatLng(6.231820, -75.587300),
                new google.maps.LatLng(6.231770, -75.589050),
                new google.maps.LatLng(6.231750, -75.589360),
                new google.maps.LatLng(6.231760, -75.589460),
                new google.maps.LatLng(6.231740, -75.589740),
                new google.maps.LatLng(6.231660, -75.590230),
                new google.maps.LatLng(6.231590, -75.591850),
                new google.maps.LatLng(6.231550, -75.593930),
                new google.maps.LatLng(6.231450, -75.596660),
                new google.maps.LatLng(6.231300, -75.599450),
                new google.maps.LatLng(6.231200, -75.601410),
                new google.maps.LatLng(6.231210, -75.601710),
                new google.maps.LatLng(6.231230, -75.601800),
                new google.maps.LatLng(6.231290, -75.601890),
                new google.maps.LatLng(6.231330, -75.601940),
                new google.maps.LatLng(6.231390, -75.602070),
                new google.maps.LatLng(6.231370, -75.602210),
                new google.maps.LatLng(6.231270, -75.602340),
                new google.maps.LatLng(6.231160, -75.602400),
                new google.maps.LatLng(6.231010, -75.602380),
                new google.maps.LatLng(6.230890, -75.602310),
                new google.maps.LatLng(6.230850, -75.602260),
                new google.maps.LatLng(6.230740, -75.602180),
                new google.maps.LatLng(6.230550, -75.602150),
                new google.maps.LatLng(6.229680, -75.602100),
                new google.maps.LatLng(6.229070, -75.602080),
                new google.maps.LatLng(6.228750, -75.602070),
                new google.maps.LatLng(6.228420, -75.602020),
                new google.maps.LatLng(6.228010, -75.601990),
                new google.maps.LatLng(6.227560, -75.601950),
                new google.maps.LatLng(6.227320, -75.601930),
                new google.maps.LatLng(6.227160, -75.601910),
                new google.maps.LatLng(6.227130, -75.602060),
                new google.maps.LatLng(6.227060, -75.602300),
                new google.maps.LatLng(6.226970, -75.602450),
                new google.maps.LatLng(6.226670, -75.602690),
                new google.maps.LatLng(6.226560, -75.602760),
            ]
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
